/***  ALLGEMEIN  ***/

* {
    font-family: "dover sans", sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.5em;
    color: #000000;
    margin: 0px;
    padding: 0px;
}


body {
    background-color: #f2f3f7;
}


h1 {
    font-size: 4rem;
    line-height: 1.5em;
    text-transform: uppercase;
    font-weight:400;
    text-align: left;
} 

h2 {
    font-size: 3rem;
    line-height: 1.15em;
    text-transform: uppercase;
    font-weight:900;
    text-align: left;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.15em;
    text-transform: uppercase;
    font-weight:700;
    text-align: left;
}

p {
    font-size: 2.75 em;
    margin: 2% 0%;
    text-align: left;
}

/** temp **/
.border {
    border: #6f4eff solid 2px;
}


/***  STRUKTUR  ***/

/* navigation */
.navbar {
    display:block;
    background: transparent;
    height: 100px;
    margin-bottom: 50px;
    padding: 0% 5%;
}

.navbar #logo {
    display: inline-block;
    text-transform:uppercase;
    font-size: large;
    font-weight: 600;
    color: #f2f3f7;
    text-align: center;
    line-height: 50px;
    letter-spacing: 5px;
    background-color: black;
    width:200px;
    height: 50px;
}

.navbar > div {
    display:inline-block;
}

.navbar li {
    display: inline-block;
    font-family: sans-serif;
    font-weight:500;
    text-transform: uppercase;
    list-style: none;
    margin: 15px 10px;
}

.navbar li a {
    text-decoration: none;
}

.navbar li a:hover {
    color: #6f4eff;
    font-weight:600;
    text-decoration: none;
}

/* Nav Ende*/

.container {
    max-width: 1200px;
    margin: auto;
}


/***  Elemente  ***/

/* hero box */
.hero {
    text-align: center;
    margin: 100px 0px;

}

.hero h1 {
    font-size: 4rem;
    line-height: 1.13em;
    font-style: italic;
    text-transfo400;
    text-align: left;
} 

.hero h1 strong {
    font-weight:900;
    font-style:normal;
}

.hero p {
    font-size: 2.5rem;
    font-family: dover, sans-serif;
    font-style: italic;
    line-height: 1.5em;
    margin: 100px 0px;
}

.button { 
    font-size: 1.25rem;
    width: 300px;
    height: 60px;
    border-radius: 50px;
    background-color: #6f4eff;
    color: white;
    border: 0;

}

.button:hover { 
    background-color: #fcfc62;
    color: #6f4eff;
}

/** Three **/

.threeRow {
    display: block;
    text-align: center;
    margin: 150px auto;
}

.threeBox {
    display: inline-block;
    margin: 3%;
    padding: 0;
}

.threeTitle {
    margin: 35px;
}

.threeBox h3 {
    text-align: center;
    margin: 7% 0%;
}

.threeBox p {
    text-align: center;
}

.teaserText {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.7em;
}

.teaserTextBig {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.7em;
    margin: 10% 0%;
}

.emoji {
    text-align: center;
    font-size: 6rem;
    line-height: 1em;
    padding: 0%;
    margin: 0%;
}

.threeTitle p {
    font-size: 2.5rem;
    line-height: 1em;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.threeTitle p:first-child {
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;

}

.threeRow ul {
    list-style-type: none;
}

.threeRow li {
    margin: 10px 0px;
    font-size: 1.15rem;
}

.framed {
    background-color: #f2f3f7;
    border: white solid 1px;
    border-radius: 50px;
    width: 250px;
    padding: 6% 2%;
}


.textLink{
    text-align: center;
    font-size: 1.15rem;
    margin: 35px;
}

.textLink a:hover {
    color:#6f4eff;
}


.textrow {
    text-align: center;
}

.textrow p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8em;
}


.twoRow {
    display: inline-block;
    margin: 7% 0;
}

.twoBox {
    display: inline-block;
    width:fit-content;
}

.twoBox img{
    display: inline-block;
    border-radius: 50px;
    width: 585px;
    height: 585px;
    
}

.twoBoxText {
    display: inline-block;
    width: 35%;
    margin: 5% 5%;
    min-width: 300px;
}


.twoBoxTextLeft{

}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear-right {
    clear: right;
}

.clear-left {
    clear: left;
}

.footer {
  display:block;
  height: 650px; 
}