/***  ALLGEMEIN  ***/

* {
    font-family: "dover", sans-serif;
    font-size: 100%;
    font-weight: 400;
    color: #000000;
    margin: 0px;
    padding: 0px;
}


body {
    background-color: #f2f3f7;
}


h1 {
    font-size: 4rem;
    font-family: dover, sans-serif;
    text-transform: uppercase;
    font-weight:900;
    text-align: left;
} 


p {
    font-size: 2.75 em;
    font-family: dover, sans-serif;
    margin: 2% 0%;
    text-align: left;
}

/** temp **/
.border {
    border: #6f4eff solid 2px;
}


/***  STRUKTUR  ***/

/* navigation */
.navbar {
    display:block;
    background:white;
    height: 100px;
    margin-bottom: 50px;
    padding: 0% 5%;
}

.navbar #logo {
    display: inline-block;
    font-family:sans-serif;
    text-transform:uppercase;
    font-size: large;
    font-weight: 600;
    color: #f2f3f7;
    text-align: center;
    line-height: 50px;
    letter-spacing: 5px;
    background-color: black;
    width:200px;
    height: 50px;
}

.navbar > div {
    display:inline-block;
}

.navbar li {
    display: inline-block;
    font-family: sans-serif;
    font-weight:500;
    text-transform: uppercase;
    list-style: none;
    margin: 15px 10px;
}

.navbar li a {
    text-decoration: none;
}

.navbar li a:hover {
    color: #6f4eff;
    font-weight:600;
    text-decoration: none;
}

/* Nav Ende*/

.container {
    max-width: 1200px;
    margin: auto;
}


/***  Elemente  ***/

/* hero box */
.hero {
    text-align: center;
    margin: 100px 0px;

}

.hero p {
    font-size: 2rem;
    font-family: dover, sans-serif;
    font-style: italic;
    line-height: 50px;
    margin: 100px 0px;
}

.button { 
    width: 300px;
    height: 70px;
    border-radius: 50px;
    background-color: #6f4eff;
    color: white;
    border: 0;
    font-size: 1.25rem;
}

.button:hover { 
    background-color: #fcfc62;
    color: #6f4eff;
}

/** Three **/

.threeRow {
    display: block;
    text-align: center;
    margin: 150px 0;
}

.threeTitle {
    font-size: 2rem;
    text-align: center;
    margin: 35px;
}

.TeaserList {
    display: inline-block;
    width: 250px;
    margin: 10px 50px;
}

.threeRow ul {
    list-style-type: none;
}

.threeRow li {
    margin: 10px 0px;
}

.textLink{
    text-align: center;
    margin: 35px;
}

.textLink a:hover {
    color:#6f4eff;
}




.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear-right {
    clear: right;
}

.clear-left {
    clear: left;
}