/* ELEMENETE */

/* IMG Container Homepage */
.img-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.slider-navigation {
    width: 93%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    margin: auto;
}

.arrows {
    text-align: center;
    padding: 10% 2%;
    background-color:rgba(125 125 125 0);
    cursor: pointer;
}

.arrows:hover {
    background-color:rgba(125 125 125 0);
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.1);
    transition: 500ms;
}

.pictures {
    width: 100%;
    height: 100%;
}

.panel {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    z-index: 0;
    overflow: hidden;
    align-items: center;
    display: flex;
}

.slide {
    max-width: 100% ;
    height: auto;
}

.active {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.panel h3 {
    visibility: hidden;
    position: absolute;
    top: 15px;
    margin: auto;
    width: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--color-main);
}