body {
    min-height: 800px;
    border: black solid 3px;
    display: flex;
    /* Kontrolliert die Boxen */
    align-items:center; /* Kontrolliert alle boxen bei wrap */
    align-content: center; /* Kontrolliert die Boxen */
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px 5px; /* 20px gap zeile, 5px gap spalte*/
}

.box {
    height: 200px;
    width: 200px;
    background-color: #0071ff;
    font-size: 40pt;

    /* Kontrolliert den Inhalt der Boxen */
    display: flex;
    align-items:center; /* Vertikal */
    justify-content: center; /* Horizontal */
}